
    <h1>List of Books</h1>
    <a class='btn btn-primary' href='/books/create'>create Book</a>
    <table class='table table-condensed'>
        <thead>
            <tr>
                <th>title</th>
                <th>author</th>
                <th>price</th>
                <td>rating</td>
                <td>Actions</td>
            </tr>
        </thead>

        <tbody>
            <% for(let book of books){  %>
            <tr>
                <td><%= book.title %></td>
                <td><%= book.Author %></td>
                <td><%= book.price %></td>
                <td><%= book.rating %></td>
                
               <td>
                    <a class='btn btn-sm btn-primary' href='/books/details/<%=book.id%>'>Details</a>
                    <a class='btn btn-sm btn-primary' href='/books/edit/<%=book.id%>'>Edit</a>
                    <a class='btn btn-sm btn-danger' href='/books/delete/<%=book.id%>'>Delete</a>
                </td> 
            </tr> 
            <%}%>

        </tbody>

    </table>
